.blogs-post {
  margin-bottom: 20px;
}

.blog-post {
  border-bottom: 1px solid #E0E0E0;
  padding: 25px 0;
}

.blog-post__title {
  font-weight: 500;
  font-size: 30px;
}

.blog-post__info {
  display: flex;
  justify-content: start;
  font-size: 20px;
}

.blog-post__info span {
  width: 40px;
  text-align: center;
}

.blog-post__theme {
  color: var(--light);
}
